.activePlayer {
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.activePlayerRow {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: auto;
}

.playerColorIndicator {
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.p1 {
    composes: playerColorIndicator;
    background-color: #000080
}

.p2 {
    composes: playerColorIndicator;
    background-color: #008000;
}