.website { 
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    /* hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

* {
    margin: 0;
    padding: 0;
}

.canvas {
    pointer-events: none;
    position: absolute !important;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
  }