.website {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    /* hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.canvas {
    pointer-events: none;
    position: absolute !important;
}

.canvasSection {
    flex-grow: 1;
}