.menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: tan;
}

.menuDemoContainer {
    flex-grow: 1;
    position: relative;
}

.menuOptionsContainer {
    background-color: teal;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.mapSelector {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly
}

.button {
    width: 125px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
}