.pieceSelectorContainer {
    position: relative;
    background-color: grey;
    pointer-events: all;
    height: calc(50vh - 28px);
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.pieceGroup {
    background-color: tan;
    border-radius: 3px;
    flex: 1;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    padding: 5px;
}

.p1 {
    composes: pieceGroup;
    background-color: #000080
}

.p2 {
    composes: pieceGroup;
    background-color: #008000;
}

.piece {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gold;
    border-radius: 3px;
}

.available {
    composes: piece;
    cursor: pointer;
    background-color: teal;
}

.unavailable {
    composes: piece;
    background-color: grey;
}